### 1. Data Import and Base Variable 확인

 * id : 식별자 for each trip
 * vendor_id : 공급자 코드(a code indicating the provider associated with the trip record)
 * pickup_datetime : 탑승 날짜 및 시각(date and time when the meter was engaged)
 * dropoff_datetime : 하차 날짜 및 시각(date and time when the meter was disengaged)
 * passengers in the vehicle : 승객수(driver entered value)
 * pickup_longitude : 탑승 경도(the longitude where the meter was engaged)
 * pickup_latitude : 탑승 위도(the latitude where the meter was engaged)
 * dropoff_longitude : 하차 경도(the longitude where the meter was disengaged)
 * dropoff_latitude : 하차 위도(the latitude where the meter was disengaged)
 * store_and_fwd_flag : 차량메모리 보관여부(this flage indicates whether the trip record was held in vehicle memory before sending to the vendor because the vehicle did not have a connection to the server. Y = store and forward, N = not a store and forward trip)
 * trip_duration : duration of the trip in seconds

In [1]:
# notebook파일 생성한 폴더에 csv파일을 옮겨두고 data import
taxi = 'train.csv'

In [2]:
# dataframe 생성
taxi_df = pd.read_csv(taxi)

In [6]:
# dataframe의 최초 값 확인 
taxi_df.head(100)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331
...,...,...,...,...,...,...,...,...,...,...,...
70,id3896508,2,2016-06-07 22:32:32,2016-06-07 22:46:06,1,-73.863380,40.769890,-73.837128,40.721359,N,814
71,id2846400,2,2016-03-16 20:13:12,2016-03-16 20:23:49,1,-73.997253,40.717960,-73.999252,40.730019,N,637
72,id1510700,2,2016-02-20 21:58:13,2016-02-20 21:59:10,1,-73.958397,40.772629,-73.955132,40.774242,N,57
73,id0813128,2,2016-02-20 18:57:43,2016-02-20 19:07:32,2,-73.991203,40.749554,-73.979195,40.746307,N,589
74,id1158195,1,2016-03-24 17:58:51,2016-03-24 18:36:46,1,-73.992325,40.730721,-73.872505,40.774498,N,2275
75,id0959273,1,2016-03-20 23:16:39,2016-03-20 23:27:26,1,-73.988838,40.768902,-73.955536,40.771744,N,647
76,id0739660,1,2016-05-16 13:07:10,2016-05-16 13:34:18,3,-73.964722,40.806606,-73.984573,40.760677,N,1628
77,id3769871,1,2016-06-17 17:32:59,2016-06-17 18:11:56,1,-73.943146,40.789631,-73.989479,40.762764,N,2337
78,id1818021,1,2016-03-23 00:34:10,2016-03-23 00:45:24,1,-74.011169,40.703606,-74.005692,40.741360,N,674
79,id0982165,2,2016-04-12 21:29:16,2016-04-12 21:49:06,1,-73.980316,40.758850,-74.010139,40.705082,N,1190
80,id1519515,2,2016-06-11 12:52:19,2016-06-11 13:12:10,1,-73.950493,40.771267,-74.001244,40.746490,N,1191
81,id1082443,2,2016-02-25 14:56:26,2016-02-25 15:09:31,1,-73.987122,40.768475,-73.975822,40.759712,N,785
82,id2934884,2,2016-01-07 19:32:15,2016-01-07 19:40:55,1,-73.986389,40.756615,-73.999794,40.761631,N,520
83,id1205949,1,2016-06-05 18:43:14,2016-06-05 18:46:52,1,-73.962608,40.758827,-73.954193,40.764053,N,218
84,id2592310,2,2016-06-13 07:20:46,2016-06-13 07:24:28,1,-73.990417,40.756882,-73.981979,40.759991,N,222
85,id0883711,1,2016-01-16 21:22:41,2016-01-16 21:42:45,1,-73.993637,40.734219,-73.961464,40.769299,N,1204
86,id0283075,1,2016-04-06 23:42:26,2016-04-07 00:12:08,1,-73.782478,40.644646,-73.981125,40.720886,N,1782
87,id2107497,1,2016-05-13 20:46:55,2016-05-13 21:06:29,2,-74.013954,40.712833,-73.997551,40.718075,N,1174
88,id2090852,2,2016-01-28 11:25:20,2016-01-28 11:30:56,1,-73.968826,40.754196,-73.972755,40.746613,N,336
89,id1297351,2,2016-06-24 14:24:31,2016-06-24 14:32:21,1,-74.003288,40.726971,-73.993301,40.739120,N,470
90,id0667605,2,2016-05-27 16:17:36,2016-05-27 16:23:22,1,-73.991058,40.739571,-74.006104,40.734550,N,346
91,id1476107,1,2016-05-22 15:41:29,2016-05-22 15:48:28,1,-73.966881,40.788681,-73.962822,40.775726,N,419
92,id0673727,2,2016-05-18 19:15:27,2016-05-18 19:44:49,1,-73.961678,40.775967,-73.857391,40.733284,N,1762
93,id2030290,1,2016-03-31 11:33:30,2016-03-31 12:12:31,3,-73.864319,40.769829,-73.985863,40.760952,N,2341
94,id3770790,1,2016-02-13 13:12:49,2016-02-13 13:19:35,1,-73.992233,40.744282,-74.008232,40.748825,N,406
95,id3025098,2,2016-01-20 19:21:31,2016-01-20 19:31:27,1,-73.976982,40.750301,-73.999123,40.739510,N,596
96,id3333094,2,2016-06-02 23:34:00,2016-06-02 23:41:15,1,-73.973465,40.755230,-73.977364,40.742821,N,435
97,id2228940,1,2016-02-04 13:22:02,2016-02-04 13:40:30,1,-73.981865,40.758774,-73.970222,40.784142,N,1108
98,id2102594,1,2016-03-30 16:14:29,2016-03-30 17:01:33,1,-73.789841,40.643559,-73.970665,40.687279,N,2824
99,id0010677,1,2016-04-29 10:40:34,2016-04-29 10:53:23,2,-73.991974,40.749996,-73.977882,40.754894,N,769

In [5]:
# dataframe의 마지막 값 확인 
taxi_df.tail(50)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
1458594,id3274818,2,2016-03-11 21:04:31,2016-03-11 21:08:41,2,-73.978233,40.763203,-73.982498,40.766701,N,250
1458595,id2313812,2,2016-06-21 12:48:12,2016-06-21 12:55:34,1,-73.974312,40.762798,-73.978531,40.756931,N,442
1458596,id1169625,1,2016-04-19 14:42:08,2016-04-19 14:57:30,1,-73.984756,40.728607,-74.007294,40.704018,N,922
1458597,id2066774,1,2016-04-26 16:11:51,2016-04-26 16:21:26,1,-73.959831,40.779663,-73.978432,40.787720,N,575
1458598,id0018431,1,2016-04-09 00:44:34,2016-04-09 00:53:01,1,-73.982330,40.771317,-73.997917,40.756401,N,507
1458599,id2438336,2,2016-01-21 14:10:36,2016-01-21 14:24:55,1,-73.996323,40.758526,-73.978844,40.744671,N,859
1458600,id0995846,2,2016-05-09 17:26:56,2016-05-09 18:30:37,2,-73.789543,40.647099,-73.960320,40.798180,N,3821
1458601,id1041783,1,2016-06-23 16:14:26,2016-06-23 16:25:09,1,-73.970894,40.764320,-73.969398,40.794540,N,643
1458602,id2089150,1,2016-05-30 14:42:12,2016-05-30 14:42:38,1,-74.015457,40.708027,-74.015396,40.708138,N,26
1458603,id1188619,2,2016-02-29 10:53:26,2016-02-29 10:58:05,1,-74.014740,40.717838,-74.008522,40.724899,N,279
1458604,id0878985,1,2016-02-16 19:37:38,2016-02-16 19:51:36,1,-73.992653,40.753368,-73.971069,40.756809,N,838
1458605,id2836103,1,2016-01-11 15:34:38,2016-01-11 15:53:20,2,-74.011909,40.710911,-73.985527,40.739952,N,1122
1458606,id0652425,2,2016-04-13 16:06:12,2016-04-13 16:38:24,1,-73.994080,40.751179,-74.017143,40.705460,N,1932
1458607,id3914209,1,2016-03-17 10:28:48,2016-03-17 10:37:55,1,-74.006622,40.731514,-74.009918,40.721397,N,547
1458608,id2703840,1,2016-03-30 00:48:16,2016-03-30 01:06:07,1,-73.989273,40.743835,-73.960205,40.715584,N,1071
1458609,id2224211,1,2016-03-06 10:42:32,2016-03-06 10:46:57,1,-73.987488,40.768585,-73.979660,40.759151,N,265
1458610,id1156695,2,2016-02-27 01:37:32,2016-02-27 01:40:39,1,-73.986832,40.733181,-73.986168,40.726452,N,187
1458611,id0450799,2,2016-01-15 08:29:44,2016-01-15 08:39:38,1,-73.989670,40.741280,-74.001122,40.721809,N,594
1458612,id1489312,2,2016-02-05 19:25:26,2016-02-05 19:33:39,1,-73.987160,40.733360,-73.994148,40.741261,N,493
1458613,id3537077,2,2016-03-11 23:48:13,2016-03-12 00:01:36,1,-73.992729,40.752811,-73.987862,40.731930,N,803
1458614,id2061444,2,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.980927,40.767651,-73.965302,40.765251,N,338
1458615,id3182230,1,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.991013,40.728321,-73.966766,40.711548,N,857
1458616,id2822294,1,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.988327,40.732147,-73.999641,40.734192,N,488
1458617,id0820021,2,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.975433,40.752411,-73.973122,40.746780,N,208
1458618,id1046767,2,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.987564,40.733387,-74.001129,40.731056,N,367
1458619,id1083860,2,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.954773,40.777882,-73.980904,40.782516,N,708
1458620,id0694577,2,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.966324,40.758072,-74.006516,40.736641,N,1162
1458621,id3267199,2,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.959534,40.782749,-73.990959,40.751091,N,2355
1458622,id0125435,2,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.008408,40.721142,-74.000557,40.723911,N,552
1458623,id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,N,554
1458624,id3482902,1,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.974693,40.756088,-73.969971,40.762115,N,152
1458625,id3730733,2,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.989655,40.740612,-73.961029,40.765366,N,2002
1458626,id0155863,2,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.954071,40.767021,-73.950340,40.778233,N,244
1458627,id0439281,2,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.981651,40.767708,-73.959183,40.777412,N,880
1458628,id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,N,351
1458629,id3109086,2,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.959618,40.808941,-73.947922,40.830189,N,601
1458630,id0287353,2,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.991508,40.727135,-73.988136,40.740932,N,549
1458631,id1724231,1,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.958946,40.763725,-73.953156,40.780003,N,342
1458632,id0469946,2,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.015572,40.710892,-73.996620,40.743633,N,777
1458633,id2432342,1,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.979652,40.735279,-73.995522,40.759754,N,979
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,N,972
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,N,237
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,N,414
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [4]:
# data가 너무 크기 때문에 일단 dataframe의 raw를 5만개로 줄여서 시작 (근데 뒤에 해보면 50000개 넘는거 같음)
taxi_df[:20000]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331
...,...,...,...,...,...,...,...,...,...,...,...
19970,id1664316,1,2016-03-10 19:03:37,2016-03-10 19:26:25,1,-73.970596,40.756184,-74.014671,40.717934,N,1368
19971,id1815336,1,2016-05-05 12:08:10,2016-05-05 12:29:55,1,-73.999741,40.759163,-73.977348,40.757809,N,1305
19972,id1240409,1,2016-06-21 17:56:50,2016-06-21 18:08:47,1,-74.008385,40.720814,-73.996193,40.748184,N,717
19973,id1189881,2,2016-02-10 07:34:53,2016-02-10 07:51:58,1,-73.961319,40.768551,-73.987984,40.743923,N,1025
19974,id2995573,1,2016-04-13 05:45:44,2016-04-13 05:50:43,1,-73.977196,40.753128,-73.979881,40.765556,N,299
19975,id0194648,2,2016-02-05 23:48:42,2016-02-05 23:59:24,1,-74.001610,40.730652,-74.005363,40.745918,N,642
19976,id0880046,1,2016-01-14 12:39:58,2016-01-14 12:52:00,1,-73.965828,40.765476,-73.973976,40.744057,N,722
19977,id1913493,1,2016-01-20 20:46:18,2016-01-20 21:07:02,1,-74.008537,40.745560,-73.963448,40.694740,N,1244
19978,id2275962,1,2016-04-08 17:19:30,2016-04-08 17:22:34,1,-73.997887,40.735836,-73.992828,40.742550,N,184
19979,id1524874,2,2016-04-04 11:52:29,2016-04-04 12:21:03,1,-73.862770,40.768730,-73.779678,40.695290,N,1714
19980,id1721910,1,2016-01-16 19:16:08,2016-01-16 19:30:05,1,-73.972504,40.754230,-73.933517,40.798458,N,837
19981,id1848429,1,2016-06-06 21:21:11,2016-06-06 21:31:35,1,-73.976257,40.775837,-73.945465,40.774353,N,624
19982,id1457260,2,2016-04-25 14:19:19,2016-04-25 14:41:46,5,-73.989876,40.735203,-73.870499,40.773582,N,1347
19983,id0230985,1,2016-03-05 03:14:11,2016-03-05 03:21:44,1,-73.992302,40.763988,-73.969002,40.797722,N,453
19984,id1745203,1,2016-05-05 18:00:19,2016-05-05 18:15:23,1,-73.983917,40.746471,-73.979683,40.765522,N,904
19985,id2477329,1,2016-03-02 23:09:56,2016-03-02 23:19:25,1,-73.991066,40.749630,-73.988701,40.735043,N,569
19986,id3088396,2,2016-03-15 22:51:03,2016-03-15 23:15:58,1,-74.004921,40.715111,-73.790413,40.643902,N,1495
19987,id3178772,1,2016-04-01 16:40:28,2016-04-01 17:24:24,1,-73.988304,40.720089,-73.975624,40.789356,N,2636
19988,id1749698,1,2016-06-23 19:19:49,2016-06-23 19:41:41,1,-74.009621,40.706413,-73.989937,40.743881,N,1312
19989,id1604324,2,2016-02-05 18:24:19,2016-02-05 18:35:34,6,-73.944649,40.787487,-73.963852,40.761162,N,675
19990,id2457349,2,2016-06-27 13:04:58,2016-06-27 13:14:09,1,-73.977684,40.758183,-73.983635,40.744492,N,551
19991,id2205380,1,2016-03-13 03:03:38,2016-03-13 03:15:20,4,-73.993889,40.720539,-74.002121,40.750687,N,702
19992,id1709679,2,2016-01-21 19:42:42,2016-01-21 19:58:59,6,-73.994019,40.735378,-73.981499,40.714817,N,977
19993,id0589163,2,2016-04-16 19:28:10,2016-04-16 19:47:32,1,-73.981361,40.759262,-73.997833,40.741032,N,1162
19994,id1049038,1,2016-02-20 05:53:42,2016-02-20 06:26:27,1,-73.776741,40.645309,-73.974342,40.679970,N,1965
19995,id3263883,1,2016-03-10 17:30:01,2016-03-10 17:46:48,1,-73.972504,40.756508,-73.980820,40.761787,N,1007
19996,id2600174,2,2016-02-08 19:54:02,2016-02-08 20:11:58,1,-74.007507,40.726292,-73.967369,40.788616,N,1076
19997,id3433340,1,2016-03-17 11:46:18,2016-03-17 11:57:11,1,-73.984177,40.761471,-73.990601,40.751087,N,653
19998,id2596866,1,2016-06-01 17:22:09,2016-06-01 17:38:44,1,-73.995407,40.749489,-73.984955,40.769161,N,995
19999,id0260806,2,2016-02-06 23:19:43,2016-02-06 23:41:19,2,-73.982147,40.775497,-73.977890,40.734154,N,1296

### 2. Data Pre-Processing
#### 1) rawdata base variable type 확인

In [7]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

#### 2) 시간 변수 수정
* pickup_datetime, dropoff_datetime은 type이 datetime이어야 시간변수로 활용할 수 있으나, object(=string)임
* 시간변수로 활용하기 위해 type을 datetime으로 바꿔줘야 함
* datetime함수를 활용해 type을 바꿔줄 수 있음

In [9]:
# 시간변수 type 확인
taxi_df['pickup_datetime'].dtype

dtype('O')

In [10]:
# 시간변수 type을 datetime으로 수정
taxi_df['pickup_datetime'] = pd.to_datetime(taxi_df['pickup_datetime'])
taxi_df['dropoff_datetime'] = pd.to_datetime(taxi_df['dropoff_datetime'])


# pickup - dropoff의 계산을 통해 trip_duration 검증 및 pickup, dropoff, trip_duration 변수 관계 확인
taxi_df['trip_duration_c'] = taxi_df['dropoff_datetime'] - taxi_df['pickup_datetime']


# trip_duration_c는 day 단위로 산출됨. 그러나 trip_duration의 단위는 second임 따라서 day를 second단위로 변환
taxi_df['trip_duration_c'] = taxi_df['trip_duration_c'].dt.total_seconds()

* pickup_datetime의 년, 월, 일을 각각 새로운 변수로 설정함
    * trip_duration과 pickup한 년, 월, 일 별로 상관관계가 있을 것 같아서 새로운 변수를 생성하고자 함
        * ex) 아주 춥거나 더운 달(12, 1, 2, 7, 8월에 택시를 탈 경우 trip_duration이 다른 월보다 길 수 있다고 생각함)
        * 뉴욕의 날씨를 확인해서 춥거나 더운 달과 그렇지 않은 달로 구분해서 더미변수를 만들 경우 설명변수로 사용 가능 할 것으로 판단
    * trip_duration이 pickup_datetime과 dropoff_datetime의 차로 형성된 변수임
        * 따라서  trip_duration를 이용해 새로운 변수를 만들고 그 변수를 설명변수로 사용할 경우 다중공선성이 발생할 가능성이 있음
        * 하지만 pickup_datetime이 시간변수이기 때문에 이에 대해 확신할 수 없어서 일단 해보기로 함
        * pickup_datetime에서 dt.components로 년, 월, 일을 뽑아 낼 수 있는 것으로 나오지만 error 해결 못함
            * taxi_df['pickup_dateime'].dt.components -> error 발생
        * 그래서 부득이 slicing을 사용함

In [11]:
# taxi_df['pickup_datetime'].dt.components dataframe에서 컴포넌트 하는 방법은 아직 모르겠음 그래서 부득이 slicing을 함


# pickup_datetime을 각 항목별로 slicing (slicing은 str밖에 안되므로 타입을 str로바꿔서 slicing)
taxi_df['pickup_datetime'] = taxi_df['pickup_datetime'].astype(str)
taxi_df['pickup_year'] = taxi_df['pickup_datetime'].str[:4]

# pickup_year의 type을 string에서 int로 다시 바꿔줌
taxi_df['pickup_year'] = taxi_df['pickup_year'].astype(int)

# 위의 방법을 month, day, hour, mm에 반복  (보다 효율적으로 하는 방법(loop등)이 있을 것 같음)
taxi_df['pickup_month'] = taxi_df['pickup_datetime'].str[5:7]
taxi_df['pickup_month'] = taxi_df['pickup_month'].astype(int)
taxi_df['pickup_day'] = taxi_df['pickup_datetime'].str[8:10]
taxi_df['pickup_day'] = taxi_df['pickup_day'].astype(int)
taxi_df['pickup_hour'] = taxi_df['pickup_datetime'].str[10:13]
taxi_df['pickup_hour'] = taxi_df['pickup_hour'].astype(int)
taxi_df['pickup_mm'] = taxi_df['pickup_datetime'].str[14:16]
taxi_df['pickup_mm'] = taxi_df['pickup_mm'].astype(int)

# 생성된 변수 타입 확인
taxi_df.info()

# 생성된 변수 dataframe 적용 확인
taxi_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 17 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null datetime64[ns]
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
trip_duration_c       1458644 non-null float64
pickup_year           1458644 non-null int64
pickup_month          1458644 non-null int64
pickup_day            1458644 non-null int64
pickup_hour           1458644 non-null int64
pickup_mm             1458644 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(8), object(3)
memory usage: 189.2+ MB

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_c,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_mm
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,455.0,2016,3,14,17,24
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,663.0,2016,6,12,0,43
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2124.0,2016,1,19,11,35
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,429.0,2016,4,6,19,32
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,435.0,2016,3,26,13,30

#### 3) 월별 더미변수 생성
* pickup_month가 6까지 밖에 없음
* 1, 2, 3월은 0, 4, 5, 6월은 1로 dummy변수 생성

In [12]:
# pickup_month data 확인을 위해 grouping

month_group = taxi_df.groupby('pickup_month')

In [13]:
len(month_group.groups)

6

In [16]:
month_group.count()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,trip_duration_c,pickup_year,pickup_day,pickup_hour,pickup_mm
pickup_month,,,,,,,,,,,,,,,,
1,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707,229707
2,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300,238300
3,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189,256189
4,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645,251645
5,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487,248487
6,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316,234316

In [17]:
month_group.size().sort_values(ascending = False)

pickup_month
3    256189
4    251645
5    248487
2    238300
6    234316
1    229707
dtype: int64

In [24]:
if (taxi_df['pickup_month'] = 1) or (taxi_df['pickup_month'] = 2) or (taxi_df['pickup_month'] = 3):
    taxi_df['dummy_month'] = 0

SyntaxError: invalid syntax (<ipython-input-24-fad2b3062256>, line 1)

 #### 2) 공간변수(or 지도정보, 위치정보) 사용 
  * 지도정보(위치정보)를 활용하기 위해서는 folium(포리움)함수를 사용해야 함

In [9]:
#correlation 확인
taxi_df['trip_duration'].corr(taxi_df['pickup_month'])

0.0066071185672692068

In [ ]:
taxi_df.corr()

In [11]:
taxi_df.values

array([['2016-03-14 17:24:55', 'id2875421', 2, ..., 455, '03', '14'],
       ['2016-06-12 00:43:35', 'id2377394', 1, ..., 663, '06', '12'],
       ['2016-01-19 11:35:24', 'id3858529', 2, ..., 2124, '01', '19'],
       ...,
       ['2016-04-22 06:57:41', 'id2304944', 2, ..., 764, '04', '22'],
       ['2016-01-05 15:56:26', 'id2714485', 1, ..., 373, '01', '05'],
       ['2016-04-05 14:44:25', 'id1209952', 1, ..., 198, '04', '05']], dtype=object)

In [32]:
taxi_df['pickup_month'].value_counts()

03    256189
04    251645
05    248487
02    238300
06    234316
01    229707
Name: pickup_month, dtype: int64

In [6]:
pickup_date_group = taxi_df.groupby(lambda pickup_datetime : pickup_datetime.split(' ')[0])
pickup_date_group.head()

,id,vendor_id,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
pickup_datetime,,,,,,,,,,
2016-03-14 17:24:55,id2875421,2,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
2016-06-12 00:43:35,id2377394,1,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2016-01-19 11:35:24,id3858529,2,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
2016-04-06 19:32:31,id3504673,2,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
2016-03-26 13:30:55,id2181028,2,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
2016-01-30 22:01:40,id0801584,2,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443
2016-06-17 22:34:59,id1813257,1,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341
2016-05-21 07:54:58,id1324603,2,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551
2016-05-27 23:12:23,id1301050,1,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255
2016-03-10 21:45:01,id0012891,2,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225
2016-05-10 22:08:41,id1436371,2,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274
2016-05-15 11:16:11,id1299289,2,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128
2016-02-19 09:52:46,id1187965,2,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114
2016-06-01 20:58:29,id0799785,2,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260
2016-05-27 00:43:36,id2900608,2,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414
2016-05-16 15:29:02,id3319787,1,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211
2016-04-11 17:29:50,id3379579,2,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316
2016-04-14 08:48:26,id1154431,1,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731
2016-06-27 09:55:13,id3552682,1,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317
2016-06-05 13:47:23,id3390316,2,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251
2016-02-28 02:23:02,id2070428,1,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486
2016-04-01 12:12:25,id0809232,2,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652
2016-04-09 03:34:27,id2352683,1,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423
2016-06-25 10:36:26,id1603037,1,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163
2016-06-03 08:15:05,id3321406,2,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485
2016-02-14 13:27:56,id0129640,2,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283
2016-02-27 21:56:01,id3587298,1,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130
2016-06-20 23:07:16,id2104175,1,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694
2016-06-13 21:57:27,id3973319,2,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892
2016-03-23 14:10:39,id1410897,1,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331
...,...,...,...,...,...,...,...,...,...,...
2016-05-30 04:01:54,id3397528,2,2016-05-30 04:16:24,5,-73.993294,40.722450,-73.999222,40.673260,N,870
2016-01-29 16:10:38,id1284462,1,2016-01-29 16:16:59,1,-73.982903,40.756779,-73.991264,40.750084,N,381
2016-05-30 23:02:53,id0593374,1,2016-05-30 23:31:42,2,-73.776718,40.645107,-73.917183,40.700546,N,1729
2016-03-12 15:54:03,id0984063,1,2016-03-12 16:00:05,1,-73.958351,40.780746,-73.964989,40.766804,N,362
2016-05-12 18:56:34,id2661055,1,2016-05-12 19:08:02,1,-73.971970,40.762604,-73.955734,40.772335,N,688
2016-02-18 10:16:28,id1584169,1,2016-02-18 10:34:12,1,-73.981499,40.758598,-74.000999,40.746300,N,1064
2016-03-04 01:52:45,id0800363,2,2016-03-04 02:00:50,3,-73.992607,40.718719,-73.962044,40.713211,N,485
2016-06-07 21:17:49,id3050329,1,2016-06-07 21:19:32,1,-73.980553,40.747635,-73.979317,40.749783,N,103
2016-04-18 11:01:11,id0324418,2,2016-04-18 11:52:40,1,-73.782066,40.644733,-73.939980,40.841206,N,3089
2016-05-26 12:52:19,id0717835,1,2016-05-26 13:43:45,1,-73.985916,40.736004,-73.789841,40.647041,N,3086
2016-03-31 18:17:05,id2745579,1,2016-03-31 18:32:47,1,-73.970581,40.762218,-73.983330,40.744469,N,942
2016-05-04 20:23:40,id1257977,2,2016-05-04 20:40:57,6,-74.007713,40.704945,-73.947388,40.775574,N,1037
2016-05-26 20:36:52,id1880555,2,2016-05-26 21:09:47,5,-74.005058,40.722977,-73.977722,40.791473,N,1975
2016-01-28 18:31:19,id0864265,1,2016-01-28 18:58:43,2,-73.998604,40.760818,-73.989799,40.718906,N,1644
2016-06-18 11:40:57,id1721766,2,2016-06-18 11:52:45,1,-73.972290,40.763256,-73.984856,40.748264,N,708
2016-03-13 19:33:44,id0946936,2,2016-03-13 19:42:26,5,-73.991287,40.730930,-74.005783,40.736530,N,522
2016-06-18 02:57:57,id2978563,2,2016-06-18 03:14:42,1,-73.987663,40.733608,-73.978790,40.782310,N,1005
2016-03-13 00:23:48,id2474425,2,2016-03-13 00:30:57,6,-73.970863,40.758629,-73.982468,40.747711,N,429
2016-02-18 07:39:40,id3183253,1,2016-02-18 07:50:01,2,-73.995720,40.749172,-73.976456,40.757183,N,621
2016-05-05 12:04:51,id2618127,1,2016-05-05 12:18:56,1,-73.972588,40.754230,-73.968117,40.762329,N,845
2016-04-18 00:10:59,id2632426,1,2016-04-18 00:17:15,1,-73.999992,40.730469,-73.982086,40.757759,N,376
2016-03-27 20:52:23,id3657128,1,2016-03-27 20:57:46,4,-73.996971,40.732628,-74.005745,40.735958,N,323
2016-02-27 00:13:39,id3899530,1,2016-02-27 00:14:37,1,-73.982521,40.727421,-73.980583,40.730061,N,58
2016-02-28 03:44:23,id2867874,1,2016-02-28 03:53:05,1,-73.987587,40.719818,-73.972549,40.749374,N,522
2016-02-22 14:16:11,id2693192,2,2016-02-22 14:21:58,5,-73.991692,40.759941,-73.993752,40.742599,N,347
2016-01-31 19:10:09,id3830258,2,2016-01-31 19:19:09,1,-73.984489,40.745304,-73.999481,40.738892,N,540
2016-01-31 22:56:02,id1051165,1,2016-01-31 23:03:13,1,-73.991829,40.750092,-73.976723,40.745239,N,431
2016-06-21 04:57:18,id1019370,2,2016-06-21 05:04:26,1,-73.872833,40.773960,-73.831596,40.762840,N,428
2016-01-31 12:50:07,id0309818,2,2016-01-31 13:02:47,1,-73.966331,40.767818,-73.990913,40.750660,N,760
2016-01-23 00:19:01,id0252677,2,2016-01-23 00:35:22,5,-73.993103,40.692940,-73.964149,40.672230,N,981

In [8]:
taxi_df.reset_index(inplace=True)

In [9]:
taxi_df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id3495688,1,4/30/16 23:59,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454
1,id3051282,1,4/30/16 23:59,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409
2,id0082851,1,4/30/16 23:59,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081
3,id0515725,2,4/30/16 23:58,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800
4,id1872374,2,4/30/16 23:58,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151

In [10]:
taxi_df.shape

(701778, 11)

In [11]:
taxi_df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id3495688,1,4/30/16 23:59,5/1/16 0:24,1,-73.987793,40.724792,-73.975616,40.656445,N,1454
1,id3051282,1,4/30/16 23:59,5/1/16 0:22,1,-73.957596,40.717770,-73.951424,40.775230,N,1409
2,id0082851,1,4/30/16 23:59,5/1/16 0:17,2,-74.000954,40.742031,-73.947708,40.782200,N,1081
3,id0515725,2,4/30/16 23:58,5/1/16 0:12,1,-73.985733,40.738258,-73.993179,40.754890,N,800
4,id1872374,2,4/30/16 23:58,5/1/16 0:17,1,-74.006615,40.740650,-73.985619,40.723362,N,1151

In [12]:
taxi_df.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,701778.000000,701778.000000,701778.000000,701778.000000,701778.000000,701778.000000,7.017780e+05
mean,1.536037,1.666577,-73.973665,40.750969,-73.973583,40.751836,9.387318e+02
std,0.498700,1.319466,0.043910,0.033139,0.044214,0.037572,6.772504e+03
min,1.000000,0.000000,-78.547401,34.359695,-79.817978,32.181141,1.000000e+00
25%,1.000000,1.000000,-73.991829,40.737400,-73.991325,40.735959,3.900000e+02
50%,2.000000,1.000000,-73.981789,40.754150,-73.979828,40.754478,6.480000e+02
75%,2.000000,2.000000,-73.967567,40.768246,-73.963249,40.769691,1.047000e+03
max,2.000000,8.000000,-61.335529,43.486885,-61.335529,43.674000,3.526282e+06

In [13]:
taxi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701778 entries, 0 to 701777
Data columns (total 11 columns):
id                    701778 non-null object
vendor_id             701778 non-null int64
pickup_datetime       701778 non-null object
dropoff_datetime      701778 non-null object
passenger_count       701778 non-null int64
pickup_longitude      701778 non-null float64
pickup_latitude       701778 non-null float64
dropoff_longitude     701778 non-null float64
dropoff_latitude      701778 non-null float64
store_and_fwd_flag    701778 non-null object
trip_duration         701778 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 58.9+ MB

In [14]:
dfy = taxi_df.ix[:,10:11]
dfX = taxi_df.ix[:,:10]
print(len(dfy.columns), len(dfX.columns))

1 10

/home/dockeruser/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [15]:
dfy.tail()

        trip_duration
701773            280
701774            408
701775            736
701776            849
701777           1294

In [16]:
dfX.tail()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
701773,id3888279,1,1/1/16 0:01,1/1/16 0:05,1,-73.982292,40.751331,-73.991341,40.750340,N
701774,id1210365,2,1/1/16 0:01,1/1/16 0:07,5,-73.965279,40.801041,-73.947479,40.815170,N
701775,id0924227,1,1/1/16 0:01,1/1/16 0:13,1,-73.970108,40.759800,-73.989357,40.742989,N
701776,id0190469,2,1/1/16 0:00,1/1/16 0:14,5,-73.981743,40.719158,-73.938828,40.829182,N
701777,id1665586,1,1/1/16 0:00,1/1/16 0:22,1,-73.985085,40.747166,-73.958038,40.717491,N

In [17]:
cols_real = ['pickup_datetime', 'dropoff_datetime', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']

In [18]:
cols_cat = ['id', 'vendor_id', 'store_and_fwd_flag']

In [19]:
dfX_real = dfX[cols_real]
print(len(dfX_real.columns))
dfX_real.tail()

7

,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
701773,1/1/16 0:01,1/1/16 0:05,1,-73.982292,40.751331,-73.991341,40.750340
701774,1/1/16 0:01,1/1/16 0:07,5,-73.965279,40.801041,-73.947479,40.815170
701775,1/1/16 0:01,1/1/16 0:13,1,-73.970108,40.759800,-73.989357,40.742989
701776,1/1/16 0:00,1/1/16 0:14,5,-73.981743,40.719158,-73.938828,40.829182
701777,1/1/16 0:00,1/1/16 0:22,1,-73.985085,40.747166,-73.958038,40.717491

In [20]:
dfX_cat = dfX[cols_cat]
print(len(dfX_cat.columns))
dfX_cat.tail()

3

               id  vendor_id store_and_fwd_flag
701773  id3888279          1                  N
701774  id1210365          2                  N
701775  id0924227          1                  N
701776  id0190469          2                  N
701777  id1665586          1                  N

In [21]:
print(plt.style.available)

['seaborn-white', 'seaborn', 'grayscale', 'ggplot', 'seaborn-darkgrid', 'seaborn-paper', 'seaborn-colorblind', 'seaborn-dark-palette', 'seaborn-deep', 'seaborn-whitegrid', 'seaborn-poster', 'dark_background', 'seaborn-dark', 'bmh', 'classic', 'seaborn-notebook', 'seaborn-talk', '_classic_test', 'fivethirtyeight', 'seaborn-pastel', 'seaborn-muted', 'seaborn-ticks', 'seaborn-bright']

In [22]:
for i in range(0, len(cols_real), 4):
    print("dfX{}".format(cols_real[i: i+4]))

dfX['pickup_datetime', 'dropoff_datetime', 'passenger_count', 'pickup_longitude']
dfX['pickup_latitude', 'dropoff_longitude', 'dropoff_latitude']

In [33]:
sns.barplot(x="pickup_datetime", y="trip_duration", data=taxi_df)

KeyboardInterrupt: